{% extends '_base.html' %}

{% block active_data %} btn-primary {% endblock %}

{% block content %}

<!-- 1 顶栏 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link {% if type==0 %}active{% endif %}" href="{{ url_for('.data', type=0, month=month) }}">堆叠</a>
            <a class="nav-item nav-link {% if type==1 %}active{% endif %}" href="{{ url_for('.data', type=1, month=month) }}">日况</a>
            {% block top_bar %}{% endblock top_bar %}
        </div>
    </div>
    {% block top_bar_nav %}{% endblock top_bar_nav %}
</nav>

<!-- 2 展示页面 -->
{% block show %} ... {% endblock %}

{% endblock %}