{% extends 'data/_data.html' %}
{% block head %}
{{ super() }}
<!-- 图表库Echarts及其主题 -->
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
<script src="https://www.runoob.com/static/js/wonderland.js"></script>
{% endblock head %}
{% block ac_data %} active {% endblock %}

{% block show %}
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 960;height:540px;" class="container-fluid"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'), 'wonderland');

    // 指定图表的配置项和数据
    // var xs = '{{ x }}'
    var option = {
        title: {
            text: '本月学习 {{ hours_all }} 小时',
            subtext: '日均 {{ average_hour }} 小时, 上月此时 {{ hours_all_l }} 小时',
        },
        tooltip: {
            text: 'hello'
        },

        legend: {
            data: ['上月', '本月'],
        },

        //备注：在js代码中使用模板能跑，但是会报错好烦啊。
        xAxis: {
            data: {{ x | safe }}
        },
        yAxis: {},
        series: [
            {
                name: '上月',
                type: 'line',
                data: {{ pday_l }}
            },
            {
                name: '本月',
                type: 'line',
                data: {{ pday }}
            }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
{% endblock show %}
