{% extends 'data/_data.html' %}


{% block top_bar %}
<a id="tag_create" class="btn btn-success" href="#">+新标签</a>
{% endblock %}


{% block show %}
{{ super() }}


<!-- 标签修改，模态框 -->
<div class="modal fade" id="tagModal" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <!-- 顶栏 -->
            <div class="modal-header">
                <h5 class="modal-title" id="tagModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- 模态框正文 -->
            <form id="tagForm" action="{{ url_for('task.tag_create') }}">
                <div class="alert alert-success" role="alert" id="message" style="display: none;">用于发送提示消息</div>
                <div class="modal-body" id="modalBody">
                    <!-- 输入列表 -->
                    <div class="form-group">
                        <label>名称:</label>
                        <input type="text" id="tagname" class="form-control" name="tagname">
                    </div>

                    <div class="form-group">
                        <label>父节点:</label>
                        <input type="text" id="pname" class="form-control" name="pname">
                    </div>
                    <div class="form-group">
                        <label>子节点:</label>
                        <div class="btn-toolbar" id="childs" role="toolbar" aria-label="Toolbar with button groups">
                        </div>
                    </div>
                    <input id="tagid" type="hidden" value="" name="tagid">
                </div>
                <!-- 底栏 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button id="submit" type="submit" class="btn btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- 星图，echarts -->
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'), 'wonderland');
    var datas = {{ datas | safe }};

    // console.log(datas)
    // 1 图表配置
    var option = {
        title: {
            text: "你的星球",
            subtext: "{{ user.name }}",
            // top: "bottom",
            left: "right"
        },
        tooltip: {},
        legend: [{
            data: ["类目0", "类目1", "类目2", "类目3", "类目4", "类目5", "类目6", "类目7", "类目8"]
        }],
        animationDuration: 1500,
        animationEasingUpdate: "quinticInOut",
        backgroundColor: {
            // 中心渐变阴影
            type: 'radial',
            x: 0.5,
            y: 0.5,
            r: 0.5,
            colorStops: [{
                offset: 0, color: '#8e8e8e' // 0% 处的颜色
            }, {
                offset: 1, color: '#fafafa' // 100% 处的颜色
            }],
            global: false // 缺省为 false
        },
        series: [{
            nodes: datas['nodes'],
            links: datas['links'],
            name: '星球',
            type: 'graph',
            layout: 'force',
            roam: true, //鼠标缩放
            draggable: true, //可拖拽
            // symbol:'circle',//形状,可以设置图片
            label: { show: true, fontSize: 10 },
            force: {
                repulsion: [100, 300],
                edgeLength: [50, 150],
                gravity: 0.1,
            },
        }]
    }

    // 监听 zoom 事件，当缩放发生时执行对应的处理程序
    myChart.on('graphroam', function (params) {

        // 获取当前缩放比例
        // 备注：每个node的size单独操作呢？
        var scale = params.zoom;  // 拖拽事件会得到undefine

        var label = option.series[0].label;
        if (scale) {
            scale = scale > 1 ? 1.1 : 0.9090909090909090909  // 比图像比例迟缓，且缩和放是可逆的
            var oriSize = label.fontSize;
            var labelFontSize = oriSize * scale; // 例如，按比例缩放字体大小
            console.log('graphroam', scale, labelFontSize);

            label.fontSize = labelFontSize;
            myChart.setOption(option);
        }

    });

    // 2 点击星球事件
    // 改成双击？
    myChart.on('click',
        function (params) {
            console.log(params.name, params.value, params.data);
            // 在模态框加入关联的按钮组
            newBtns = function (name, containerId) {
                // 创建一个新的按钮组
                var btns = document.createElement('div');
                btns.className = 'btn-group mr-1 mb-1';
                btns.role = 'group';

                // 将按钮加入组
                var btn = document.createElement('a');
                btn.className = 'btn btn-sm btn-info';
                btn.href = '#';  // 传递id
                btn.textContent = name;
                btns.appendChild(btn);

                // 将按钮2加入组
                var btn = document.createElement('a');
                btn.className = 'btn btn-sm btn-info';
                btn.href = '#';  // 传递id
                btn.textContent = 'x';
                btns.appendChild(btn);

                // 组放入页面
                var container = document.getElementById(containerId); // 选择容器元素
                container.appendChild(btns); // 将新按钮组添加到容器中
            }

            var modal = $('#tagModal');
            modal.modal('show');
            modal.find('.modal-title').text(params.name);
            modal.find('input#tagname').val(params.name);
            modal.find('input#tagid').val(params.data.id);  // 

            // 生成id索引的node字典
            var nodes = datas['nodes'];
            var dnodes = {}
            for (var i = 0; i < nodes.length; i++) {
                var node = nodes[i];
                dnodes[node.id] = node;
            }

            // 找到关联的子结点，link中source是作为子，target是父
            var links = datas['links'];
            for (var i = 0; i < links.length; i++) {
                var link = links[i];
                if (link.target == params.data.id) {
                    // console.log("child:", dnodes[link.source]);
                    newBtns(dnodes[link.source].name, 'childs');
                }
                if (link.source == params.data.id) {
                    modal.find('input#pname').val(dnodes[link.target].name);
                }
            }
        }
    )

    // 将示例数据注入到图表实例中
    myChart.setOption(option);

    // 3 模态框隐藏 -> 刷新
    $('#tagModal').on('hidden.bs.modal', function (e) {
        // 备注：怎么能直接刷新为初始状态，不用一个个操作？
        // 刷新表单值
        $('form input').val('');
        // 刷新填入的标签元素
        var clearIds = ['childs'];
        for (var i = 0; i < clearIds.length; i++) {
            var container = document.getElementById(clearIds[i]);
            container.innerHTML = '';
        }
    });

    // 4 新建标签 - 唤出模态框
    $('#tag_create').on('click', function (e) {
        var modal = $('#tagModal');
        modal.modal('show');
        modal.find('.modal-title').text('新的标签');
    });

    // 5 异步发送表单请求
    $('#submit').on('click', function (e) {
        e.preventDefault();
        var formData = $('#tagForm').serialize(); // 序列化表单数据
        // console.log(formData);
        $.ajax({
            url: '{{ url_for('task.tag_create') }}',
            type: 'POST',
            data: formData,
            success: function (response) {
                console.log('res', response);
                // response已经是js原生类型，再用JSON.parse解析会报错
                var res = response;
                console.log(res);
                if (res.success) {
                    $('#message').text('操作成功').show();
                    // echarts动态更新
                    // 备注：只有添加新的，那删除旧的呢？
                    if (res.new_node) { option.series[0].nodes.push(res.new_node); }

                    // 同源修改，否则插入
                    if (res.new_link) {
                        var link = res.new_link;
                        var links = option.series[0].links;
                        var is_find = false;
                        for (var i = 0; i < links.length; i++) {
                            if (links[i].source == link.source) {
                                links[i].target = link.target;
                                is_find = true;
                            }
                        }
                        if (is_find == false) { option.series[0].links.push(res.new_link); }
                    }
                    myChart.setOption(option); // echarts会自动找到差异并更改

                    setTimeout(function () {
                        $('#message').hide();
                        $('#tagModal').modal('hide');
                    }, 500);
                } else {
                    $('#message').text(res.message).show();
                    setTimeout(function () {
                        $('#message').hide();
                    }, 1500);
                }
            },
            error: function (xhr, status, error) {
                console.error('Error', error);
            },
        });
    });

</script>
{% endblock show %}