{% extends '_base.html' %}

{% block active_task %} btn-primary {% endblock %}

{% block content %}

<!-- 1 任务顶栏 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link {% block ac_doing %}{% endblock %}" href="{{ url_for('.task_doing') }}">待做</a>
            <a class="nav-item nav-link {% block ac_done %}{% endblock %}" href="{{ url_for('.task_done') }}">已完成</a>
            <a class="btn btn-success" href="{{ url_for('.task_create') }}" role="button">+新建</a>
            {% block top_bar %}{% endblock top_bar %}
        </div>
    </div>
    {% block top_bar_nav %}{% endblock top_bar_nav %}
</nav>

<!-- 2 任务列表 -->
{% block task_list %} ... {% endblock %}

{% endblock %}