{% extends '_base.html' %}

{% block active_task %} btn-primary {% endblock %}

{% block content %}

<!-- 1 任务顶栏 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link {% block ac_doing %}{% endblock %}" href="{{ url_for('task.task_doing') }}">待做</a>
            <a class="nav-item nav-link {% block ac_dossier %}{% endblock %}" href="{{ url_for('task.task_dossier') }}">档案</a>
            <a class="nav-item nav-link {% block ac_done %}{% endblock %}" href="{{ url_for('task.task_done') }}">记录</a>
            
            <a class="nav-item nav-link {% block ac_book %}{% endblock %}" href="{{ url_for('book.bookcase') }}">书架</a>
            <a class="nav-item nav-link {% block ac_plan %}{% endblock %}" href="{{ url_for('plan.plans') }}">小方向</a>
            <a class="nav-item nav-link {% block ac_tag %}{% endblock %}" href="{{ url_for('tag.graph') }}">精力分配</a>
            {% block top_bar %}{% endblock top_bar %}
        </div>
    </div>
    {% block top_bar_nav %}{% endblock top_bar_nav %}
</nav>

<!-- 2 任务列表 -->
{% block show %} ... {% endblock %}

{% endblock %}