{% extends 'task/_task.html' %}
{% block active_done %} btn-secondary {% endblock %}


{% block top_bar %}
{{ super() }}
<div class="dropdown" style="margin-left:auto; margin-top: auto;">
    {% set orders = {
    TaskOrder.FINISH_DESC:'完成时间 ↑', TaskOrder.FINISH_ASC:'完成时间 ↓',
    TaskOrder.ADD_DESC:'创建时间 ↑', TaskOrder.ADD_ASC:'创建时间 ↓',
    TaskOrder.NAME_DESC:'任务名称 ↑', TaskOrder.NAME_ASC:'任务名称 ↓'} %}

    <button class="btn-sm btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ orders[order_id] }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for order_id in orders %}
        <a class="dropdown-item" href="{{ url_for('.task_done', order_id=order_id) }}">{{ order_id }} {{ orders[order_id]
            }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{# 2 已完成任务列表 #}
{% block task_list %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">编号</th>
            <th scope="col">任务名</th>
            <th scope="col">经验值</th>
            <th scope="col">完成时间</th>
            <th scope="col">耗时</th>
            <th scope="col">完成描述</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks if task.is_finish %}
        <tr>
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.name }}</td>
            <td>{{ task.exp }}</td>
            <td>{{ task.time_finish + datetime.timedelta(hours=8) }}</td>
            <td>{{ Time(minutes=task.use_minute) }} / {{ Time(minutes=task.need_minute) }}</td>
            <td>{{ task.describe }}</td>
            <td>
                <a class="btn btn-success btn-sm"
                    href="{{ url_for('.task_submit', task_id=task.id, next=request.endpoint) }}" role="button">修改</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}