.sub-title {
    font-size: 24px;
}

.form-control {
    margin-top: 25px;
}

.mg-top {
    margin-top: 25px;
}

.form-margin-2 {
    margin-top: 40px;
}

.btn-right {
    float:right;
}

header {
    margin: 100px 0 80px 0;
}

header h1 {
    font-size: 60px;
    font-weight: lighter;
}
