.sub-title {
    font-size: 24px;
}

.form-margin {
    margin-top: 25px;
}

.form-margin-2 {
    margin-top: 40px;
}

header {
    margin: 100px 0 80px 0;
}

header h1 {
    font-size: 60px;
    font-weight: lighter;
}

body {
    background-image: "D:/code_all/code_python/Web/Strong/strong/static/img/wolf.png";
}