{% from '_macros.html' import flash_messages, modal_botton %}
<html>

<head>
    <!-- 用来修正页面在手机端显示不全问题 -->
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=0.3, maxmum-scale=1.0, minimum-scale=0.3">
    {% block head %}
    {% block title %}<title> Strong </title>{% endblock %}
    <!-- 备注：cdn最好下载下来 -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.jpg') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">  

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- echarts -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
    <script src="https://www.runoob.com/static/js/wonderland.js"></script>
    {% endblock head %}
</head>

<body>
    <!-- 路由js -->
    {% include '_route.html' %}

    {# 1 上导航栏 #}
    {% block navigation %}
    <!-- Image and text -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/logo_three.jpg') }}" width="30" height="30"
                class="d-inline-block align-top" alt="">
            Strong
        </a>
        {# 对齐到右侧 text-align:right;?#}
        <div style="margin-left:auto;">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if session['uname'] %}
                    {{ modal_botton(
                        id='import_user' + [1] | join,
                        btn_class='btn-light btn-sm',
                        btn_name='导入', title='提醒',
                        body='你确定吗？这将覆盖你当前所有数据，且有一定风险，请确保已经“导出”备份。',
                        footer_href=url_for('auth.import_user')
                    )}}
                    <a class="nav-item nav-link" href="{{ url_for('auth.export_user') }}">导出</a>
                    <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">退出登录</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </nav>
    {% endblock %}

    {% block contain %}
    <div class="container-fluid">
        <div class="row">

            {# 2 侧栏 #}
            <div class="col-1">
                {% block sidebar %}
                <div class="btn-group-vertical" role="group" aria-label="Basic example">
                    <a href="{{ url_for('auth.home') }}" role="button"
                        class="btn {% block active_home %}{% endblock %}">我的主页</a>
                    <a href="{{ url_for('task.task_doing') }}" role="button"
                        class="btn {% block active_task %}{% endblock %}">任务堂</a>
                    <a href="{{ url_for('data.index') }}" role="button"
                        class="btn {% block active_data %}{% endblock %}">学习统计</a>
                    <a href="{{ url_for('auth.following') }}" role="button"
                        class="btn {% block active_social %}{% endblock %}">找朋友</a>
                </div>
                {% endblock sidebar %}
            </div>

            {# 3 面板 #}
            <div class="col-10">

                {# 4 消息闪现-上部 #}
                {{ flash_messages() }}

                {% block content %}
                <p> Hello, welcome to add some content for here! </p>
                {% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}

</body>

</html>