{% extends 'task.html' %}
{% block active_done %} btn-secondary {% endblock %}

{# 2 已完成任务列表 #}
{% block task_list %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">编号</th>
            <th scope="col">任务名</th>
            <th scope="col">经验值</th>
            <th scope="col">完成时间</th>
            <th scope="col">完成描述</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks if task.is_finish %}
        <tr>
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.name }}</td>
            <td>{{ task.exp }}</td>
            <td>{{ task.time_finish }}</td>
            <td>{{ task.describe }}</td>
            <td>
                <a class="btn btn-success btn-sm" href="{{ url_for('task_submit', task_id=task.id) }}"
                    role="button">修改</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}