{% extends '_task.html' %}
{% from '_macros.html' import form_field_all %}

{% block content %}
<form method="post">

    {# 任务信息 #}
    <div class="form-group">
        任务名:
        {{ task.name }}
    </div>
    <div class="form-group">
        经验值:
        {{ task.exp }}
    </div>

    {# 表单控件 #}
    {{ form_field_all(form) }}
    <!-- 上一个页面必须提供next查询字符串参数，以让“取消”按钮回到正确的地方 -->
    <a class="btn btn-secondary" href="{{ url_for(request.args.get('next')) }}" role="botten">取消</a>
</form>
{% endblock %}