{% extends 'task.html' %}
{% from 'macros.html' import modal_botton %}
{% block active_doing %} btn-secondary {% endblock %}

{# 1 待完成任务列表 #}
{% block task_list %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">编号</th>
            <th scope="col">任务名</th>
            <th scope="col">经验值</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks if not task.is_finish %}
        <tr>
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.name }}</td>
            <td>{{ task.exp }}</td>
            <td>
                <a class="btn btn-success btn-sm"
                    href="{{ url_for('task_submit', task_id=task.id, next=request.endpoint) }}" role="button">提交</a>
                {{ modal_botton(
                id='delete' + [task.id] | join,
                btn_class='btn-danger btn-sm',
                btn_name='删除', title='提醒',
                body='你确定删除任务 ' + task.name + ' 吗？删除后不可恢复！',
                footer_href=url_for('task_delete', task_id=task.id)) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}