{% extends 'auth/_auth.html' %}

{% block form %}
<form method="post">
    {{ form.csrf_token }}
    {{ form.username(class="form-control", placeholder="用户名") }}
    {{ form.password(class="form-control", placeholder="密码") }}
    {{ form.submit(class="form-margin-2 btn btn-primary", placeholder="登录") }}
    <a class="btn btn-secondary btn-right form-margin-2" href="{{ url_for('auth.register') }}" role="button">去注册</a>
    <br>
    <div class="btn-right mg-top">
        <label><input type="checkbox" name="remenber"> 记住我</label>
    </div>
</form>
{% endblock form %}