{% extends '_base.html' %}
{% block navigation %}{% endblock %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock head %}

{% block contain %}

<body>
    <div class="container" style="max-width: 480px;">

        <!-- 标题 -->
        <header>
            <h1 class="text-center">
                <strong class="text-success">Strong</strong>
                <small class="text-muted sub-title">by steps</small>
            </h1>
        </header>

        <!-- 消息闪现 -->
        {% for message in get_flashed_messages(with_categories=True) %}
        <div class="row alert alert-{{ message[0] }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;&nbsp;</button>
            {{ message[1] }}
        </div>
        {% endfor %}

        <!-- 登录表单 -->
        <div class="border" style="border:2px; padding: 15px 60px 80px 60px;">

            <form method="post">
                {{ form.csrf_token }}
                {{ form.username(class="form-control form-margin", placeholder="用户名") }}
                {{ form.password(class="form-control form-margin", placeholder="密码") }}
                {{ form.submit(class="form-margin-2 btn btn-primary") }}
                <a class="btn btn-secondary form-margin-2" href="{{ url_for('auth.register') }}" role="button"
                    style="float:right">去注册</a>
                <br>
                <div class="form-margin" style="float:right">
                    <label><input type="checkbox" name="remenber"> 记住我</label>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock contain %}