{% extends '_base.html' %}
{% block navigation %}{% endblock %}

{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock head %}

{% block contain %}

<body>
    <div class="container" style="max-width: 480px;">

        <!-- 标题 -->
        <header>
            <h1 class="text-center">
                <strong class="text-success">Strong</strong>
                <small class="text-muted sub-title">by steps</small>
            </h1>
        </header>

        <!-- 消息闪现 -->
        {{ flash_messages() }}

        <!-- 登录表单 -->
        <div class="border" style="padding: 15px 60px 80px 60px;">

            <form method="post">
                {{ form.csrf_token }}
                {{ form.username(class="form-control", placeholder="用户名") }}
                {{ form.password(class="form-control", placeholder="密码") }}
                {{ form.submit(class="form-margin-2 btn btn-primary") }}
                <a class="btn btn-secondary btn-right form-margin-2" href="{{ url_for('auth.register') }}"
                    role="button">去注册</a>
                <br>
                <div class="btn-right mg-top">
                    <label><input type="checkbox" name="remenber"> 记住我</label>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock contain %}